body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.inline-block {
  display: inline-block;
}

.mt-5 {
  margin-top: 1.25rem;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.bg-cgreen {
  --tw-bg-opacity: 1;
  background-color: rgba(49, 87, 104, var(--tw-bg-opacity));
}

.rounded {
  border-radius: .25rem;
}

.font-semibold {
  font-weight: 600;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.duration-500 {
  transition-duration: .5s;
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, -webkit-transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}
.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.ml-1 {
  margin-left: .25rem;
}

.inline-block {
  display: inline-block;
}

.hover\:opacity-90:hover {
  opacity: .9;
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.border {
  border-width: 1px;
}

.border-r-0 {
  border-right-width: 0;
}

.border-b-0 {
  border-bottom-width: 0;
}

.w-full {
  width: 100%;
}

.container-fluid {
  max-width: 1220px;
  margin: auto;
}

.p-2 {
  padding: .5rem;
}

.ant-modal-title {
  margin: 0;
  color: rgba(0, 0, 0, .85);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  .md\:pt-16 {
      padding-top: 4rem;
  }
}

.pr-6 {
  padding-right: 1.5rem;
}

.mr-7 {
 margin-right: 3.5rem;
}

.p-4 {
  padding: 1rem;
}

.bg-cgreen {
  --tw-bg-opacity: 1;
  background-color: rgba(49, 87, 104, var(--tw-bg-opacity));
}

.mt-6 {
  margin-top: 1.5rem;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.duration-500 {
  transition-duration: .5s;
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, -webkit-transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.pr-7 {
  padding-right: 1.75rem;
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.font-semibold {
  font-weight: 600;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}